<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>afei_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{101,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,114}}</string>
        <key>sourceSize</key>
        <string>{101,114}</string>
      </dict>
      <key>afei_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{101,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,114}}</string>
        <key>sourceSize</key>
        <string>{101,114}</string>
      </dict>
      <key>afei_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,35},{25,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,33}}</string>
        <key>sourceSize</key>
        <string>{25,33}</string>
      </dict>
      <key>afei_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,85},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>afei_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,116},{50,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,66}}</string>
        <key>sourceSize</key>
        <string>{50,66}</string>
      </dict>
      <key>afei_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,0},{25,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,33}}</string>
        <key>sourceSize</key>
        <string>{25,33}</string>
      </dict>
      <key>afei_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,70},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>afei_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,58},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>afei_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,29},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
      <key>afei_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,97},{16,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,22}}</string>
        <key>sourceSize</key>
        <string>{16,22}</string>
      </dict>
      <key>afei_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,0},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>afei.png</string>
      <key>textureFileName</key>
      <string>afei.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>