<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ai_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{106,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,109}}</string>
        <key>sourceSize</key>
        <string>{106,109}</string>
      </dict>
      <key>ai_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,109}}</string>
        <key>sourceSize</key>
        <string>{108,109}</string>
      </dict>
      <key>ai_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{23,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,36}}</string>
        <key>sourceSize</key>
        <string>{23,36}</string>
      </dict>
      <key>ai_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,111},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>ai_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{42,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,54}}</string>
        <key>sourceSize</key>
        <string>{42,54}</string>
      </dict>
      <key>ai_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,38},{24,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,33}}</string>
        <key>sourceSize</key>
        <string>{24,33}</string>
      </dict>
      <key>ai_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,111},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>ai_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,111},{18,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,22}}</string>
        <key>sourceSize</key>
        <string>{18,22}</string>
      </dict>
      <key>ai_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,73},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>ai_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,111},{17,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,21}}</string>
        <key>sourceSize</key>
        <string>{17,21}</string>
      </dict>
      <key>ai_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,102},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ai.png</string>
      <key>textureFileName</key>
      <string>ai.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>