<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>banzang_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{120,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,114}}</string>
        <key>sourceSize</key>
        <string>{120,114}</string>
      </dict>
      <key>banzang_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{120,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,114}}</string>
        <key>sourceSize</key>
        <string>{120,114}</string>
      </dict>
      <key>banzang_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,116},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>banzang_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,116},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>banzang_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,116},{66,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,56}}</string>
        <key>sourceSize</key>
        <string>{66,56}</string>
      </dict>
      <key>banzang_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,116},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>banzang_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,116},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>banzang_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,116},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>banzang_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,116},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>banzang_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,116},{17,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,21}}</string>
        <key>sourceSize</key>
        <string>{17,21}</string>
      </dict>
      <key>banzang_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,116},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>banzang.png</string>
      <key>textureFileName</key>
      <string>banzang.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>