<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bingzuleitong_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,0},{121,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,112}}</string>
        <key>sourceSize</key>
        <string>{121,112}</string>
      </dict>
      <key>bingzuleitong_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{121,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,115}}</string>
        <key>sourceSize</key>
        <string>{121,115}</string>
      </dict>
      <key>bingzuleitong_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,114},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>bingzuleitong_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,117},{16,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,24}}</string>
        <key>sourceSize</key>
        <string>{16,24}</string>
      </dict>
      <key>bingzuleitong_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,114},{40,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,49}}</string>
        <key>sourceSize</key>
        <string>{40,49}</string>
      </dict>
      <key>bingzuleitong_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,114},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>bingzuleitong_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{19,117},{17,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,23}}</string>
        <key>sourceSize</key>
        <string>{17,23}</string>
      </dict>
      <key>bingzuleitong_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,114},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>bingzuleitong_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,114},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
      <key>bingzuleitong_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,117},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>bingzuleitong_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>bingzuleitong.png</string>
      <key>textureFileName</key>
      <string>bingzuleitong.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>