<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>changshilang_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,0},{103,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,108}}</string>
        <key>sourceSize</key>
        <string>{103,108}</string>
      </dict>
      <key>changshilang_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{103,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,112}}</string>
        <key>sourceSize</key>
        <string>{103,112}</string>
      </dict>
      <key>changshilang_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,91},{25,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,33}}</string>
        <key>sourceSize</key>
        <string>{25,33}</string>
      </dict>
      <key>changshilang_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,110},{19,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,25}}</string>
        <key>sourceSize</key>
        <string>{19,25}</string>
      </dict>
      <key>changshilang_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{40,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,54}}</string>
        <key>sourceSize</key>
        <string>{40,54}</string>
      </dict>
      <key>changshilang_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,56},{25,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,33}}</string>
        <key>sourceSize</key>
        <string>{25,33}</string>
      </dict>
      <key>changshilang_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,110},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>changshilang_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,110},{21,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,24}}</string>
        <key>sourceSize</key>
        <string>{21,24}</string>
      </dict>
      <key>changshilang_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,110},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>changshilang_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{19,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,22}}</string>
        <key>sourceSize</key>
        <string>{19,22}</string>
      </dict>
      <key>changshilang_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,110},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>changshilang.png</string>
      <key>textureFileName</key>
      <string>changshilang.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>