<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>chitongkai_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{120,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,105}}</string>
        <key>sourceSize</key>
        <string>{120,105}</string>
      </dict>
      <key>chitongkai_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{123,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,105}}</string>
        <key>sourceSize</key>
        <string>{123,105}</string>
      </dict>
      <key>chitongkai_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,107},{21,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,34}}</string>
        <key>sourceSize</key>
        <string>{21,34}</string>
      </dict>
      <key>chitongkai_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,107},{22,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,25}}</string>
        <key>sourceSize</key>
        <string>{22,25}</string>
      </dict>
      <key>chitongkai_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{44,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,56}}</string>
        <key>sourceSize</key>
        <string>{44,56}</string>
      </dict>
      <key>chitongkai_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,107},{21,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,31}}</string>
        <key>sourceSize</key>
        <string>{21,31}</string>
      </dict>
      <key>chitongkai_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,107},{23,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,25}}</string>
        <key>sourceSize</key>
        <string>{23,25}</string>
      </dict>
      <key>chitongkai_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,107},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>chitongkai_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,107},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>chitongkai_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,107},{17,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,22}}</string>
        <key>sourceSize</key>
        <string>{17,22}</string>
      </dict>
      <key>chitongkai_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,107},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>chitongkai.png</string>
      <key>textureFileName</key>
      <string>chitongkai.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>