<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>chutian_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,0},{107,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,95}}</string>
        <key>sourceSize</key>
        <string>{107,95}</string>
      </dict>
      <key>chutian_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{107,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,96}}</string>
        <key>sourceSize</key>
        <string>{107,96}</string>
      </dict>
      <key>chutian_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,33},{21,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,31}}</string>
        <key>sourceSize</key>
        <string>{21,31}</string>
      </dict>
      <key>chutian_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,95},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>chutian_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,97},{42,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,51}}</string>
        <key>sourceSize</key>
        <string>{42,51}</string>
      </dict>
      <key>chutian_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{23,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,31}}</string>
        <key>sourceSize</key>
        <string>{23,31}</string>
      </dict>
      <key>chutian_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,94},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>chutian_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,97},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>chutian_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,66},{16,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,26}}</string>
        <key>sourceSize</key>
        <string>{16,26}</string>
      </dict>
      <key>chutian_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,97},{18,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,21}}</string>
        <key>sourceSize</key>
        <string>{18,21}</string>
      </dict>
      <key>chutian_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,66},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>chutian.png</string>
      <key>textureFileName</key>
      <string>chutian.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>