<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>daitu_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{115,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,112}}</string>
        <key>sourceSize</key>
        <string>{115,112}</string>
      </dict>
      <key>daitu_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{115,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,119}}</string>
        <key>sourceSize</key>
        <string>{115,119}</string>
      </dict>
      <key>daitu_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,114},{24,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,33}}</string>
        <key>sourceSize</key>
        <string>{24,33}</string>
      </dict>
      <key>daitu_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,85},{19,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,25}}</string>
        <key>sourceSize</key>
        <string>{19,25}</string>
      </dict>
      <key>daitu_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,114},{54,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,66}}</string>
        <key>sourceSize</key>
        <string>{54,66}</string>
      </dict>
      <key>daitu_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,114},{24,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,33}}</string>
        <key>sourceSize</key>
        <string>{24,33}</string>
      </dict>
      <key>daitu_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,58},{19,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,25}}</string>
        <key>sourceSize</key>
        <string>{19,25}</string>
      </dict>
      <key>daitu_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,112},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>daitu_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,29},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>daitu_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,121},{17,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,21}}</string>
        <key>sourceSize</key>
        <string>{17,21}</string>
      </dict>
      <key>daitu_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>daitu.png</string>
      <key>textureFileName</key>
      <string>daitu.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>