<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>dashewan_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,0},{99,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,134}}</string>
        <key>sourceSize</key>
        <string>{99,134}</string>
      </dict>
      <key>dashewan_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{99,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,134}}</string>
        <key>sourceSize</key>
        <string>{99,134}</string>
      </dict>
      <key>dashewan_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{22,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,35}}</string>
        <key>sourceSize</key>
        <string>{22,35}</string>
      </dict>
      <key>dashewan_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,92},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>dashewan_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,136},{54,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,68}}</string>
        <key>sourceSize</key>
        <string>{54,68}</string>
      </dict>
      <key>dashewan_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{22,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,31}}</string>
        <key>sourceSize</key>
        <string>{22,31}</string>
      </dict>
      <key>dashewan_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,66},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>dashewan_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,33},{23,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,28}}</string>
        <key>sourceSize</key>
        <string>{23,28}</string>
      </dict>
      <key>dashewan_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,37},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
      <key>dashewan_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,92},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>dashewan_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,63},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>dashewan.png</string>
      <key>textureFileName</key>
      <string>dashewan.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>