<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>dingci_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,113},{128,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,108}}</string>
        <key>sourceSize</key>
        <string>{128,108}</string>
      </dict>
      <key>dingci_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{128,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,111}}</string>
        <key>sourceSize</key>
        <string>{128,111}</string>
      </dict>
      <key>dingci_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,0},{24,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,33}}</string>
        <key>sourceSize</key>
        <string>{24,33}</string>
      </dict>
      <key>dingci_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,63},{19,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,24}}</string>
        <key>sourceSize</key>
        <string>{19,24}</string>
      </dict>
      <key>dingci_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{67,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,61}}</string>
        <key>sourceSize</key>
        <string>{67,61}</string>
      </dict>
      <key>dingci_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,0},{22,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,32}}</string>
        <key>sourceSize</key>
        <string>{22,32}</string>
      </dict>
      <key>dingci_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,63},{21,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,23}}</string>
        <key>sourceSize</key>
        <string>{21,23}</string>
      </dict>
      <key>dingci_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,34},{23,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,28}}</string>
        <key>sourceSize</key>
        <string>{23,28}</string>
      </dict>
      <key>dingci_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,59},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>dingci_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,35},{23,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,22}}</string>
        <key>sourceSize</key>
        <string>{23,22}</string>
      </dict>
      <key>dingci_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,63},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>dingci.png</string>
      <key>textureFileName</key>
      <string>dingci.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>