<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>duoyouye_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{94,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,116}}</string>
        <key>sourceSize</key>
        <string>{94,116}</string>
      </dict>
      <key>duoyouye_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{94,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,116}}</string>
        <key>sourceSize</key>
        <string>{94,116}</string>
      </dict>
      <key>duoyouye_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,69},{22,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,33}}</string>
        <key>sourceSize</key>
        <string>{22,33}</string>
      </dict>
      <key>duoyouye_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,118},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>duoyouye_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{54,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,67}}</string>
        <key>sourceSize</key>
        <string>{54,67}</string>
      </dict>
      <key>duoyouye_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,69},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>duoyouye_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,118},{16,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,24}}</string>
        <key>sourceSize</key>
        <string>{16,24}</string>
      </dict>
      <key>duoyouye_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,103},{23,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,28}}</string>
        <key>sourceSize</key>
        <string>{23,28}</string>
      </dict>
      <key>duoyouye_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,104},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>duoyouye_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,118},{17,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,22}}</string>
        <key>sourceSize</key>
        <string>{17,22}</string>
      </dict>
      <key>duoyouye_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,118},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>duoyouye.png</string>
      <key>textureFileName</key>
      <string>duoyouye.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>