<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>erdaishuiying_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{95,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,107}}</string>
        <key>sourceSize</key>
        <string>{95,107}</string>
      </dict>
      <key>erdaishuiying_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,110}}</string>
        <key>sourceSize</key>
        <string>{95,110}</string>
      </dict>
      <key>erdaishuiying_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,68},{26,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,34}}</string>
        <key>sourceSize</key>
        <string>{26,34}</string>
      </dict>
      <key>erdaishuiying_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,109},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>erdaishuiying_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{49,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,66}}</string>
        <key>sourceSize</key>
        <string>{49,66}</string>
      </dict>
      <key>erdaishuiying_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,68},{26,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,32}}</string>
        <key>sourceSize</key>
        <string>{26,32}</string>
      </dict>
      <key>erdaishuiying_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,109},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>erdaishuiying_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,109},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>erdaishuiying_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,102},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
      <key>erdaishuiying_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,109},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>erdaishuiying_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,104},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>erdaishuiying.png</string>
      <key>textureFileName</key>
      <string>erdaishuiying.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>