<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>erweirenzhuli_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,0},{111,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,129}}</string>
        <key>sourceSize</key>
        <string>{111,129}</string>
      </dict>
      <key>erweirenzhuli_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{111,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,129}}</string>
        <key>sourceSize</key>
        <string>{111,129}</string>
      </dict>
      <key>erweirenzhuli_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>erweirenzhuli_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,93},{22,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,25}}</string>
        <key>sourceSize</key>
        <string>{22,25}</string>
      </dict>
      <key>erweirenzhuli_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,131},{42,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,48}}</string>
        <key>sourceSize</key>
        <string>{42,48}</string>
      </dict>
      <key>erweirenzhuli_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,34},{21,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,30}}</string>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>erweirenzhuli_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,66},{22,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,25}}</string>
        <key>sourceSize</key>
        <string>{22,25}</string>
      </dict>
      <key>erweirenzhuli_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,131},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>erweirenzhuli_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,120},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>erweirenzhuli_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,131},{17,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,22}}</string>
        <key>sourceSize</key>
        <string>{17,22}</string>
      </dict>
      <key>erweirenzhuli_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,131},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>erweirenzhuli.png</string>
      <key>textureFileName</key>
      <string>erweirenzhuli.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>