<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fengyingwoailuo_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,113},{129,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,110}}</string>
        <key>sourceSize</key>
        <string>{129,110}</string>
      </dict>
      <key>fengyingwoailuo_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{129,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,111}}</string>
        <key>sourceSize</key>
        <string>{129,111}</string>
      </dict>
      <key>fengyingwoailuo_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{26,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,33}}</string>
        <key>sourceSize</key>
        <string>{26,33}</string>
      </dict>
      <key>fengyingwoailuo_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,64},{16,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,24}}</string>
        <key>sourceSize</key>
        <string>{16,24}</string>
      </dict>
      <key>fengyingwoailuo_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,0},{67,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,67}}</string>
        <key>sourceSize</key>
        <string>{67,67}</string>
      </dict>
      <key>fengyingwoailuo_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{26,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,32}}</string>
        <key>sourceSize</key>
        <string>{26,32}</string>
      </dict>
      <key>fengyingwoailuo_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,69},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>fengyingwoailuo_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,63},{20,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,24}}</string>
        <key>sourceSize</key>
        <string>{20,24}</string>
      </dict>
      <key>fengyingwoailuo_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,34},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>fengyingwoailuo_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,69},{18,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,21}}</string>
        <key>sourceSize</key>
        <string>{18,21}</string>
      </dict>
      <key>fengyingwoailuo_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,35},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fengyingwoailuo.png</string>
      <key>textureFileName</key>
      <string>fengyingwoailuo.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>