<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hongdou_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{127,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,124}}</string>
        <key>sourceSize</key>
        <string>{127,124}</string>
      </dict>
      <key>hongdou_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{127,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,124}}</string>
        <key>sourceSize</key>
        <string>{127,124}</string>
      </dict>
      <key>hongdou_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{22,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,35}}</string>
        <key>sourceSize</key>
        <string>{22,35}</string>
      </dict>
      <key>hongdou_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,32},{22,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,25}}</string>
        <key>sourceSize</key>
        <string>{22,25}</string>
      </dict>
      <key>hongdou_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{63,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,66}}</string>
        <key>sourceSize</key>
        <string>{63,66}</string>
      </dict>
      <key>hongdou_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{20,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,30}}</string>
        <key>sourceSize</key>
        <string>{20,30}</string>
      </dict>
      <key>hongdou_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,37},{21,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,25}}</string>
        <key>sourceSize</key>
        <string>{21,25}</string>
      </dict>
      <key>hongdou_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,59},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>hongdou_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,59},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
      <key>hongdou_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,68},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>hongdou_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,64},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hongdou.png</string>
      <key>textureFileName</key>
      <string>hongdou.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>