<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>jiaodu_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{92,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,111}}</string>
        <key>sourceSize</key>
        <string>{92,111}</string>
      </dict>
      <key>jiaodu_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{92,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,110}}</string>
        <key>sourceSize</key>
        <string>{92,110}</string>
      </dict>
      <key>jiaodu_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,68},{24,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,33}}</string>
        <key>sourceSize</key>
        <string>{24,33}</string>
      </dict>
      <key>jiaodu_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,112},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>jiaodu_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{50,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,66}}</string>
        <key>sourceSize</key>
        <string>{50,66}</string>
      </dict>
      <key>jiaodu_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,68},{25,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,33}}</string>
        <key>sourceSize</key>
        <string>{25,33}</string>
      </dict>
      <key>jiaodu_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,112},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>jiaodu_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,103},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>jiaodu_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,103},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
      <key>jiaodu_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,112},{16,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,22}}</string>
        <key>sourceSize</key>
        <string>{16,22}</string>
      </dict>
      <key>jiaodu_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,103},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>jiaodu.png</string>
      <key>textureFileName</key>
      <string>jiaodu.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>