<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>jue_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{141,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,120}}</string>
        <key>sourceSize</key>
        <string>{141,120}</string>
      </dict>
      <key>jue_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{141,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,122}}</string>
        <key>sourceSize</key>
        <string>{141,122}</string>
      </dict>
      <key>jue_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{24,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,32}}</string>
        <key>sourceSize</key>
        <string>{24,32}</string>
      </dict>
      <key>jue_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,67},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>jue_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,0},{67,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,76}}</string>
        <key>sourceSize</key>
        <string>{67,76}</string>
      </dict>
      <key>jue_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,34},{24,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,31}}</string>
        <key>sourceSize</key>
        <string>{24,31}</string>
      </dict>
      <key>jue_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,67},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>jue_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,78},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>jue_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{16,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,27}}</string>
        <key>sourceSize</key>
        <string>{16,27}</string>
      </dict>
      <key>jue_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,78},{17,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,21}}</string>
        <key>sourceSize</key>
        <string>{17,21}</string>
      </dict>
      <key>jue_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,78},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>jue.png</string>
      <key>textureFileName</key>
      <string>jue.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>