<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>liudaodaitu_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{114,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,113}}</string>
        <key>sourceSize</key>
        <string>{114,113}</string>
      </dict>
      <key>liudaodaitu_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,121}}</string>
        <key>sourceSize</key>
        <string>{114,121}</string>
      </dict>
      <key>liudaodaitu_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,115},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>liudaodaitu_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,122},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>liudaodaitu_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,115},{73,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,71}}</string>
        <key>sourceSize</key>
        <string>{73,71}</string>
      </dict>
      <key>liudaodaitu_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{22,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,35}}</string>
        <key>sourceSize</key>
        <string>{22,35}</string>
      </dict>
      <key>liudaodaitu_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,122},{16,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,24}}</string>
        <key>sourceSize</key>
        <string>{16,24}</string>
      </dict>
      <key>liudaodaitu_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,95},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>liudaodaitu_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,37},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>liudaodaitu_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,123},{17,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,22}}</string>
        <key>sourceSize</key>
        <string>{17,22}</string>
      </dict>
      <key>liudaodaitu_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,66},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>liudaodaitu.png</string>
      <key>textureFileName</key>
      <string>liudaodaitu.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>