<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>luwan_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{110,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,113}}</string>
        <key>sourceSize</key>
        <string>{110,113}</string>
      </dict>
      <key>luwan_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{110,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
      <key>luwan_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,34},{20,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,32}}</string>
        <key>sourceSize</key>
        <string>{20,32}</string>
      </dict>
      <key>luwan_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,115},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>luwan_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,115},{39,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,49}}</string>
        <key>sourceSize</key>
        <string>{39,49}</string>
      </dict>
      <key>luwan_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{22,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,32}}</string>
        <key>sourceSize</key>
        <string>{22,32}</string>
      </dict>
      <key>luwan_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,115},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>luwan_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,96},{17,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,25}}</string>
        <key>sourceSize</key>
        <string>{17,25}</string>
      </dict>
      <key>luwan_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,115},{16,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,26}}</string>
        <key>sourceSize</key>
        <string>{16,26}</string>
      </dict>
      <key>luwan_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,118},{17,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,21}}</string>
        <key>sourceSize</key>
        <string>{17,21}</string>
      </dict>
      <key>luwan_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,68},{18,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,26}}</string>
        <key>sourceSize</key>
        <string>{18,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>luwan.png</string>
      <key>textureFileName</key>
      <string>luwan.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>