<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>maji_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,117}}</string>
        <key>sourceSize</key>
        <string>{114,117}</string>
      </dict>
      <key>maji_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{114,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,117}}</string>
        <key>sourceSize</key>
        <string>{114,117}</string>
      </dict>
      <key>maji_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,34},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>maji_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,119},{16,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,24}}</string>
        <key>sourceSize</key>
        <string>{16,24}</string>
      </dict>
      <key>maji_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{41,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,50}}</string>
        <key>sourceSize</key>
        <string>{41,50}</string>
      </dict>
      <key>maji_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{22,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,32}}</string>
        <key>sourceSize</key>
        <string>{22,32}</string>
      </dict>
      <key>maji_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,119},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>maji_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,119},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>maji_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,97},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>maji_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,119},{17,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,22}}</string>
        <key>sourceSize</key>
        <string>{17,22}</string>
      </dict>
      <key>maji_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,68},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>maji.png</string>
      <key>textureFileName</key>
      <string>maji.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>