<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>mingren_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{132,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,112}}</string>
        <key>sourceSize</key>
        <string>{132,112}</string>
      </dict>
      <key>mingren_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{132,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,117}}</string>
        <key>sourceSize</key>
        <string>{132,117}</string>
      </dict>
      <key>mingren_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{21,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,33}}</string>
        <key>sourceSize</key>
        <string>{21,33}</string>
      </dict>
      <key>mingren_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,34},{17,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,25}}</string>
        <key>sourceSize</key>
        <string>{17,25}</string>
      </dict>
      <key>mingren_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,0},{39,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,50}}</string>
        <key>sourceSize</key>
        <string>{39,50}</string>
      </dict>
      <key>mingren_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>mingren_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,27},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>mingren_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>mingren_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,35},{18,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,23}}</string>
        <key>sourceSize</key>
        <string>{18,23}</string>
      </dict>
      <key>mingren_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,52},{18,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,23}}</string>
        <key>sourceSize</key>
        <string>{18,23}</string>
      </dict>
      <key>mingren_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,52},{18,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,23}}</string>
        <key>sourceSize</key>
        <string>{18,23}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>mingren.png</string>
      <key>textureFileName</key>
      <string>mingren.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>