<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>muyewan_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{104,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,111}}</string>
        <key>sourceSize</key>
        <string>{104,111}</string>
      </dict>
      <key>muyewan_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,115}}</string>
        <key>sourceSize</key>
        <string>{104,115}</string>
      </dict>
      <key>muyewan_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{23,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,32}}</string>
        <key>sourceSize</key>
        <string>{23,32}</string>
      </dict>
      <key>muyewan_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,92},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>muyewan_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,113},{83,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,53}}</string>
        <key>sourceSize</key>
        <string>{83,53}</string>
      </dict>
      <key>muyewan_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,34},{22,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,29}}</string>
        <key>sourceSize</key>
        <string>{22,29}</string>
      </dict>
      <key>muyewan_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,92},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>muyewan_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,65},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>muyewan_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,34},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>muyewan_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{16,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,22}}</string>
        <key>sourceSize</key>
        <string>{16,22}</string>
      </dict>
      <key>muyewan_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,63},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>muyewan.png</string>
      <key>textureFileName</key>
      <string>muyewan.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>