<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>muyeshaobing_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{134,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,104}}</string>
        <key>sourceSize</key>
        <string>{134,104}</string>
      </dict>
      <key>muyeshaobing_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{134,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,109}}</string>
        <key>sourceSize</key>
        <string>{134,109}</string>
      </dict>
      <key>muyeshaobing_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,0},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>muyeshaobing_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,51},{16,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,24}}</string>
        <key>sourceSize</key>
        <string>{16,24}</string>
      </dict>
      <key>muyeshaobing_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{40,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,49}}</string>
        <key>sourceSize</key>
        <string>{40,49}</string>
      </dict>
      <key>muyeshaobing_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>muyeshaobing_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,34},{17,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,23}}</string>
        <key>sourceSize</key>
        <string>{17,23}</string>
      </dict>
      <key>muyeshaobing_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>muyeshaobing_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,27},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
      <key>muyeshaobing_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,51},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>muyeshaobing_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,34},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>muyeshaobing.png</string>
      <key>textureFileName</key>
      <string>muyeshaobing.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>