<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>qilabi_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,0},{121,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,106}}</string>
        <key>sourceSize</key>
        <string>{121,106}</string>
      </dict>
      <key>qilabi_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{121,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,106}}</string>
        <key>sourceSize</key>
        <string>{121,106}</string>
      </dict>
      <key>qilabi_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,108},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>qilabi_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,108},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>qilabi_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{65,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,76}}</string>
        <key>sourceSize</key>
        <string>{65,76}</string>
      </dict>
      <key>qilabi_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,108},{24,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,33}}</string>
        <key>sourceSize</key>
        <string>{24,33}</string>
      </dict>
      <key>qilabi_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,108},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>qilabi_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,108},{18,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,23}}</string>
        <key>sourceSize</key>
        <string>{18,23}</string>
      </dict>
      <key>qilabi_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,108},{18,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,26}}</string>
        <key>sourceSize</key>
        <string>{18,26}</string>
      </dict>
      <key>qilabi_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,108},{17,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,21}}</string>
        <key>sourceSize</key>
        <string>{17,21}</string>
      </dict>
      <key>qilabi_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,108},{18,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,26}}</string>
        <key>sourceSize</key>
        <string>{18,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>qilabi.png</string>
      <key>textureFileName</key>
      <string>qilabi.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>