<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>qiweirenzhuli_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,0},{112,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,111}}</string>
        <key>sourceSize</key>
        <string>{112,111}</string>
      </dict>
      <key>qiweirenzhuli_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{112,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,111}}</string>
        <key>sourceSize</key>
        <string>{112,111}</string>
      </dict>
      <key>qiweirenzhuli_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{20,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,32}}</string>
        <key>sourceSize</key>
        <string>{20,32}</string>
      </dict>
      <key>qiweirenzhuli_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,113},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>qiweirenzhuli_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,113},{52,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,51}}</string>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>qiweirenzhuli_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,34},{20,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,29}}</string>
        <key>sourceSize</key>
        <string>{20,29}</string>
      </dict>
      <key>qiweirenzhuli_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,113},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>qiweirenzhuli_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,113},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>qiweirenzhuli_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,65},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>qiweirenzhuli_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,113},{17,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,22}}</string>
        <key>sourceSize</key>
        <string>{17,22}</string>
      </dict>
      <key>qiweirenzhuli_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,94},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>qiweirenzhuli.png</string>
      <key>textureFileName</key>
      <string>qiweirenzhuli.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>