<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>quanzhongya_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,0},{111,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,127}}</string>
        <key>sourceSize</key>
        <string>{111,127}</string>
      </dict>
      <key>quanzhongya_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{111,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,127}}</string>
        <key>sourceSize</key>
        <string>{111,127}</string>
      </dict>
      <key>quanzhongya_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,129},{30,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,35}}</string>
        <key>sourceSize</key>
        <string>{30,35}</string>
      </dict>
      <key>quanzhongya_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,88},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>quanzhongya_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,129},{42,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,57}}</string>
        <key>sourceSize</key>
        <string>{42,57}</string>
      </dict>
      <key>quanzhongya_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{27,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,33}}</string>
        <key>sourceSize</key>
        <string>{27,33}</string>
      </dict>
      <key>quanzhongya_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,112},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>quanzhongya_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,35},{22,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,27}}</string>
        <key>sourceSize</key>
        <string>{22,27}</string>
      </dict>
      <key>quanzhongya_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,129},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
      <key>quanzhongya_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,64},{23,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,22}}</string>
        <key>sourceSize</key>
        <string>{23,22}</string>
      </dict>
      <key>quanzhongya_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,129},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>quanzhongya.png</string>
      <key>textureFileName</key>
      <string>quanzhongya.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>