<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sakedeng_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,0},{125,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,119}}</string>
        <key>sourceSize</key>
        <string>{125,119}</string>
      </dict>
      <key>sakedeng_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{125,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,121}}</string>
        <key>sourceSize</key>
        <string>{125,121}</string>
      </dict>
      <key>sakedeng_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,121},{22,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,33}}</string>
        <key>sourceSize</key>
        <string>{22,33}</string>
      </dict>
      <key>sakedeng_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,121},{22,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,24}}</string>
        <key>sourceSize</key>
        <string>{22,24}</string>
      </dict>
      <key>sakedeng_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,121},{43,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,59}}</string>
        <key>sourceSize</key>
        <string>{43,59}</string>
      </dict>
      <key>sakedeng_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,121},{21,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,31}}</string>
        <key>sourceSize</key>
        <string>{21,31}</string>
      </dict>
      <key>sakedeng_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,123},{20,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,25}}</string>
        <key>sourceSize</key>
        <string>{20,25}</string>
      </dict>
      <key>sakedeng_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,123},{21,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,25}}</string>
        <key>sourceSize</key>
        <string>{21,25}</string>
      </dict>
      <key>sakedeng_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,123},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>sakedeng_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,123},{19,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,22}}</string>
        <key>sourceSize</key>
        <string>{19,22}</string>
      </dict>
      <key>sakedeng_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,123},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sakedeng.png</string>
      <key>textureFileName</key>
      <string>sakedeng.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>