<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sandaileiying_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,0},{125,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,112}}</string>
        <key>sourceSize</key>
        <string>{125,112}</string>
      </dict>
      <key>sandaileiying_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{125,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,112}}</string>
        <key>sourceSize</key>
        <string>{125,112}</string>
      </dict>
      <key>sandaileiying_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,114},{21,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,33}}</string>
        <key>sourceSize</key>
        <string>{21,33}</string>
      </dict>
      <key>sandaileiying_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,114},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>sandaileiying_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{53,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,55}}</string>
        <key>sourceSize</key>
        <string>{53,55}</string>
      </dict>
      <key>sandaileiying_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,114},{24,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,29}}</string>
        <key>sourceSize</key>
        <string>{24,29}</string>
      </dict>
      <key>sandaileiying_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,114},{20,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,23}}</string>
        <key>sourceSize</key>
        <string>{20,23}</string>
      </dict>
      <key>sandaileiying_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,114},{19,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,24}}</string>
        <key>sourceSize</key>
        <string>{19,24}</string>
      </dict>
      <key>sandaileiying_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,114},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
      <key>sandaileiying_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,114},{19,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,23}}</string>
        <key>sourceSize</key>
        <string>{19,23}</string>
      </dict>
      <key>sandaileiying_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,114},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sandaileiying.png</string>
      <key>textureFileName</key>
      <string>sandaileiying.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>