<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sanweirenzhuli_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,0},{119,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,113}}</string>
        <key>sourceSize</key>
        <string>{119,113}</string>
      </dict>
      <key>sanweirenzhuli_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{119,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,113}}</string>
        <key>sourceSize</key>
        <string>{119,113}</string>
      </dict>
      <key>sanweirenzhuli_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,115},{22,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,34}}</string>
        <key>sourceSize</key>
        <string>{22,34}</string>
      </dict>
      <key>sanweirenzhuli_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,115},{16,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,24}}</string>
        <key>sourceSize</key>
        <string>{16,24}</string>
      </dict>
      <key>sanweirenzhuli_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,115},{50,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,62}}</string>
        <key>sourceSize</key>
        <string>{50,62}</string>
      </dict>
      <key>sanweirenzhuli_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,115},{24,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,31}}</string>
        <key>sourceSize</key>
        <string>{24,31}</string>
      </dict>
      <key>sanweirenzhuli_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,115},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>sanweirenzhuli_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,115},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>sanweirenzhuli_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,115},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
      <key>sanweirenzhuli_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,115},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>sanweirenzhuli_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,115},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sanweirenzhuli.png</string>
      <key>textureFileName</key>
      <string>sanweirenzhuli.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>