<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>shuimen_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{140,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,124}}</string>
        <key>sourceSize</key>
        <string>{140,124}</string>
      </dict>
      <key>shuimen_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{140,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,130}}</string>
        <key>sourceSize</key>
        <string>{140,130}</string>
      </dict>
      <key>shuimen_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{22,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,35}}</string>
        <key>sourceSize</key>
        <string>{22,35}</string>
      </dict>
      <key>shuimen_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,33},{22,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,25}}</string>
        <key>sourceSize</key>
        <string>{22,25}</string>
      </dict>
      <key>shuimen_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{60,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,76}}</string>
        <key>sourceSize</key>
        <string>{60,76}</string>
      </dict>
      <key>shuimen_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{21,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,31}}</string>
        <key>sourceSize</key>
        <string>{21,31}</string>
      </dict>
      <key>shuimen_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,37},{21,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,25}}</string>
        <key>sourceSize</key>
        <string>{21,25}</string>
      </dict>
      <key>shuimen_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,78},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>shuimen_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,60},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
      <key>shuimen_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,78},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>shuimen_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,64},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>shuimen.png</string>
      <key>textureFileName</key>
      <string>shuimen.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>