<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>shuimu_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,0},{116,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,105}}</string>
        <key>sourceSize</key>
        <string>{116,105}</string>
      </dict>
      <key>shuimu_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{118,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,105}}</string>
        <key>sourceSize</key>
        <string>{118,105}</string>
      </dict>
      <key>shuimu_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,107},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>shuimu_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{16,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,24}}</string>
        <key>sourceSize</key>
        <string>{16,24}</string>
      </dict>
      <key>shuimu_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{40,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,49}}</string>
        <key>sourceSize</key>
        <string>{40,49}</string>
      </dict>
      <key>shuimu_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,107},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>shuimu_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,107},{17,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,23}}</string>
        <key>sourceSize</key>
        <string>{17,23}</string>
      </dict>
      <key>shuimu_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,107},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>shuimu_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,107},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
      <key>shuimu_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,26},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>shuimu_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,107},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>shuimu.png</string>
      <key>textureFileName</key>
      <string>shuimu.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>