<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tuosizhen_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{89,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,103}}</string>
        <key>sourceSize</key>
        <string>{89,103}</string>
      </dict>
      <key>tuosizhen_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,106}}</string>
        <key>sourceSize</key>
        <string>{96,106}</string>
      </dict>
      <key>tuosizhen_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,68},{23,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,32}}</string>
        <key>sourceSize</key>
        <string>{23,32}</string>
      </dict>
      <key>tuosizhen_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,105},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>tuosizhen_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,0},{64,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,66}}</string>
        <key>sourceSize</key>
        <string>{64,66}</string>
      </dict>
      <key>tuosizhen_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,68},{23,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,32}}</string>
        <key>sourceSize</key>
        <string>{23,32}</string>
      </dict>
      <key>tuosizhen_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,105},{19,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,25}}</string>
        <key>sourceSize</key>
        <string>{19,25}</string>
      </dict>
      <key>tuosizhen_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,102},{21,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,25}}</string>
        <key>sourceSize</key>
        <string>{21,25}</string>
      </dict>
      <key>tuosizhen_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,102},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>tuosizhen_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,105},{19,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,22}}</string>
        <key>sourceSize</key>
        <string>{19,22}</string>
      </dict>
      <key>tuosizhen_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,102},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tuosizhen.png</string>
      <key>textureFileName</key>
      <string>tuosizhen.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>