<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wanhuatongzuozhu_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,129},{127,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,126}}</string>
        <key>sourceSize</key>
        <string>{127,126}</string>
      </dict>
      <key>wanhuatongzuozhu_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{127,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,127}}</string>
        <key>sourceSize</key>
        <string>{127,127}</string>
      </dict>
      <key>wanhuatongzuozhu_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,0},{22,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,33}}</string>
        <key>sourceSize</key>
        <string>{22,33}</string>
      </dict>
      <key>wanhuatongzuozhu_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{22,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,25}}</string>
        <key>sourceSize</key>
        <string>{22,25}</string>
      </dict>
      <key>wanhuatongzuozhu_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{45,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,61}}</string>
        <key>sourceSize</key>
        <string>{45,61}</string>
      </dict>
      <key>wanhuatongzuozhu_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{21,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,31}}</string>
        <key>sourceSize</key>
        <string>{21,31}</string>
      </dict>
      <key>wanhuatongzuozhu_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,27},{21,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,25}}</string>
        <key>sourceSize</key>
        <string>{21,25}</string>
      </dict>
      <key>wanhuatongzuozhu_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,33},{21,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,24}}</string>
        <key>sourceSize</key>
        <string>{21,24}</string>
      </dict>
      <key>wanhuatongzuozhu_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,35},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
      <key>wanhuatongzuozhu_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,59},{18,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,22}}</string>
        <key>sourceSize</key>
        <string>{18,22}</string>
      </dict>
      <key>wanhuatongzuozhu_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,54},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wanhuatongzuozhu.png</string>
      <key>textureFileName</key>
      <string>wanhuatongzuozhu.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>