<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_s-dadao.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,164},{97,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,75}}</string>
        <key>sourceSize</key>
        <string>{97,75}</string>
      </dict>
      <key>weapon_s-fazhang.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{131,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,144}}</string>
        <key>sourceSize</key>
        <string>{131,144}</string>
      </dict>
      <key>weapon_s-shuangjian.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,146},{123,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,109}}</string>
        <key>sourceSize</key>
        <string>{123,109}</string>
      </dict>
      <key>weapon_s-shoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,275},{109,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,51}}</string>
        <key>sourceSize</key>
        <string>{109,51}</string>
      </dict>
      <key>weapon_s-juanzhou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,241},{91,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,42}}</string>
        <key>sourceSize</key>
        <string>{91,42}</string>
      </dict>
      <key>weapon_s-hulu.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{136,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,109}}</string>
        <key>sourceSize</key>
        <string>{136,109}</string>
      </dict>
      <key>weapon_s-chibang.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,260},{112,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,55}}</string>
        <key>sourceSize</key>
        <string>{112,55}</string>
      </dict>
      <key>weapon_s-shanzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{235,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,162}}</string>
        <key>sourceSize</key>
        <string>{235,162}</string>
      </dict>
      <key>weapon_s-kuilei.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,0},{139,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,135}}</string>
        <key>sourceSize</key>
        <string>{139,135}</string>
      </dict>
      <key>weapon_s-liandao.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,137},{133,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,121}}</string>
        <key>sourceSize</key>
        <string>{133,121}</string>
      </dict>
      <key>weapon_s-juanzhou.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,285},{99,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,54}}</string>
        <key>sourceSize</key>
        <string>{99,54}</string>
      </dict>
      <key>weapon_s-wuqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,137},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>weapon_s-jiaoji.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,257},{113,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,102}}</string>
        <key>sourceSize</key>
        <string>{113,102}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon.png</string>
      <key>textureFileName</key>
      <string>weapon.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>