<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wuyinshaobing_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,0},{118,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,99}}</string>
        <key>sourceSize</key>
        <string>{118,99}</string>
      </dict>
      <key>wuyinshaobing_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{118,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,106}}</string>
        <key>sourceSize</key>
        <string>{118,106}</string>
      </dict>
      <key>wuyinshaobing_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,101},{25,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,35}}</string>
        <key>sourceSize</key>
        <string>{25,35}</string>
      </dict>
      <key>wuyinshaobing_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,108},{21,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,23}}</string>
        <key>sourceSize</key>
        <string>{21,23}</string>
      </dict>
      <key>wuyinshaobing_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,101},{39,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,50}}</string>
        <key>sourceSize</key>
        <string>{39,50}</string>
      </dict>
      <key>wuyinshaobing_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,101},{24,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,33}}</string>
        <key>sourceSize</key>
        <string>{24,33}</string>
      </dict>
      <key>wuyinshaobing_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,108},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>wuyinshaobing_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{24,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,28}}</string>
        <key>sourceSize</key>
        <string>{24,28}</string>
      </dict>
      <key>wuyinshaobing_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{26,108},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>wuyinshaobing_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,101},{25,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,28}}</string>
        <key>sourceSize</key>
        <string>{25,28}</string>
      </dict>
      <key>wuyinshaobing_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,108},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wuyinshaobing.png</string>
      <key>textureFileName</key>
      <string>wuyinshaobing.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>