<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>xianglin_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{107,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,124}}</string>
        <key>sourceSize</key>
        <string>{107,124}</string>
      </dict>
      <key>xianglin_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,0},{107,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,124}}</string>
        <key>sourceSize</key>
        <string>{107,124}</string>
      </dict>
      <key>xianglin_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,33},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>xianglin_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,122},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>xianglin_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{45,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,53}}</string>
        <key>sourceSize</key>
        <string>{45,53}</string>
      </dict>
      <key>xianglin_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{22,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,31}}</string>
        <key>sourceSize</key>
        <string>{22,31}</string>
      </dict>
      <key>xianglin_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,126},{18,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,20}}</string>
        <key>sourceSize</key>
        <string>{18,20}</string>
      </dict>
      <key>xianglin_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,67},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>xianglin_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,94},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
      <key>xianglin_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,67},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>xianglin_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,94},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>xianglin.png</string>
      <key>textureFileName</key>
      <string>xianglin.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>