<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>xianrenmingren_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,123},{135,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,115}}</string>
        <key>sourceSize</key>
        <string>{135,115}</string>
      </dict>
      <key>xianrenmingren_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{135,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,121}}</string>
        <key>sourceSize</key>
        <string>{135,121}</string>
      </dict>
      <key>xianrenmingren_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{21,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,33}}</string>
        <key>sourceSize</key>
        <string>{21,33}</string>
      </dict>
      <key>xianrenmingren_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,34},{22,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,25}}</string>
        <key>sourceSize</key>
        <string>{22,25}</string>
      </dict>
      <key>xianrenmingren_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{59,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,62}}</string>
        <key>sourceSize</key>
        <string>{59,62}</string>
      </dict>
      <key>xianrenmingren_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{20,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,32}}</string>
        <key>sourceSize</key>
        <string>{20,32}</string>
      </dict>
      <key>xianrenmingren_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,35},{21,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,25}}</string>
        <key>sourceSize</key>
        <string>{21,25}</string>
      </dict>
      <key>xianrenmingren_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,64},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>xianrenmingren_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,61},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
      <key>xianrenmingren_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,64},{17,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,22}}</string>
        <key>sourceSize</key>
        <string>{17,22}</string>
      </dict>
      <key>xianrenmingren_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,62},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>xianrenmingren.png</string>
      <key>textureFileName</key>
      <string>xianrenmingren.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>