<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>xiaoying_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{111,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,103}}</string>
        <key>sourceSize</key>
        <string>{111,103}</string>
      </dict>
      <key>xiaoying_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,0},{111,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,103}}</string>
        <key>sourceSize</key>
        <string>{111,103}</string>
      </dict>
      <key>xiaoying_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,35},{21,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,33}}</string>
        <key>sourceSize</key>
        <string>{21,33}</string>
      </dict>
      <key>xiaoying_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,105},{15,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,23}}</string>
        <key>sourceSize</key>
        <string>{15,23}</string>
      </dict>
      <key>xiaoying_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,105},{43,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,45}}</string>
        <key>sourceSize</key>
        <string>{43,45}</string>
      </dict>
      <key>xiaoying_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{21,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,33}}</string>
        <key>sourceSize</key>
        <string>{21,33}</string>
      </dict>
      <key>xiaoying_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,105},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>xiaoying_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,105},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>xiaoying_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,98},{16,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,27}}</string>
        <key>sourceSize</key>
        <string>{16,27}</string>
      </dict>
      <key>xiaoying_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,105},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>xiaoying_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,70},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>xiaoying.png</string>
      <key>textureFileName</key>
      <string>xiaoying.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>