<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>xiaoli_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{98,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,99}}</string>
        <key>sourceSize</key>
        <string>{98,99}</string>
      </dict>
      <key>xiaoli_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{98,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,104}}</string>
        <key>sourceSize</key>
        <string>{98,104}</string>
      </dict>
      <key>xiaoli_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,47},{17,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,30}}</string>
        <key>sourceSize</key>
        <string>{17,30}</string>
      </dict>
      <key>xiaoli_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,75},{16,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,24}}</string>
        <key>sourceSize</key>
        <string>{16,24}</string>
      </dict>
      <key>xiaoli_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{38,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,45}}</string>
        <key>sourceSize</key>
        <string>{38,45}</string>
      </dict>
      <key>xiaoli_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,47},{17,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,30}}</string>
        <key>sourceSize</key>
        <string>{17,30}</string>
      </dict>
      <key>xiaoli_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,101},{15,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,23}}</string>
        <key>sourceSize</key>
        <string>{15,23}</string>
      </dict>
      <key>xiaoli_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,79},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>xiaoli_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,47},{16,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,26}}</string>
        <key>sourceSize</key>
        <string>{16,26}</string>
      </dict>
      <key>xiaoli_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,101},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>xiaoli_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,79},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>xiaoli.png</string>
      <key>textureFileName</key>
      <string>xiaoli.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>