<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>yibixi_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{123,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,106}}</string>
        <key>sourceSize</key>
        <string>{123,106}</string>
      </dict>
      <key>yibixi_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{123,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,107}}</string>
        <key>sourceSize</key>
        <string>{123,107}</string>
      </dict>
      <key>yibixi_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,108},{22,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,32}}</string>
        <key>sourceSize</key>
        <string>{22,32}</string>
      </dict>
      <key>yibixi_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,109},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>yibixi_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,108},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>yibixi_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,108},{22,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,32}}</string>
        <key>sourceSize</key>
        <string>{22,32}</string>
      </dict>
      <key>yibixi_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,109},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>yibixi_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,109},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>yibixi_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>yibixi_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,109},{17,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,21}}</string>
        <key>sourceSize</key>
        <string>{17,21}</string>
      </dict>
      <key>yibixi_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,108},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>yibixi.png</string>
      <key>textureFileName</key>
      <string>yibixi.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>