<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>you_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{99,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,105}}</string>
        <key>sourceSize</key>
        <string>{99,105}</string>
      </dict>
      <key>you_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,0},{99,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,105}}</string>
        <key>sourceSize</key>
        <string>{99,105}</string>
      </dict>
      <key>you_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,66},{23,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,32}}</string>
        <key>sourceSize</key>
        <string>{23,32}</string>
      </dict>
      <key>you_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,107},{16,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,24}}</string>
        <key>sourceSize</key>
        <string>{16,24}</string>
      </dict>
      <key>you_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{49,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,64}}</string>
        <key>sourceSize</key>
        <string>{49,64}</string>
      </dict>
      <key>you_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,66},{24,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,32}}</string>
        <key>sourceSize</key>
        <string>{24,32}</string>
      </dict>
      <key>you_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,100},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>you_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{17,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,25}}</string>
        <key>sourceSize</key>
        <string>{17,25}</string>
      </dict>
      <key>you_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{19,107},{16,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,26}}</string>
        <key>sourceSize</key>
        <string>{16,26}</string>
      </dict>
      <key>you_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,107},{17,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,21}}</string>
        <key>sourceSize</key>
        <string>{17,21}</string>
      </dict>
      <key>you_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,100},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>you.png</string>
      <key>textureFileName</key>
      <string>you.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>