<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>zhouyinzuozhu_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{122,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,117}}</string>
        <key>sourceSize</key>
        <string>{122,117}</string>
      </dict>
      <key>zhouyinzuozhu_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{122,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,117}}</string>
        <key>sourceSize</key>
        <string>{122,117}</string>
      </dict>
      <key>zhouyinzuozhu_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,119},{23,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,34}}</string>
        <key>sourceSize</key>
        <string>{23,34}</string>
      </dict>
      <key>zhouyinzuozhu_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,119},{17,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,23}}</string>
        <key>sourceSize</key>
        <string>{17,23}</string>
      </dict>
      <key>zhouyinzuozhu_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{48,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,55}}</string>
        <key>sourceSize</key>
        <string>{48,55}</string>
      </dict>
      <key>zhouyinzuozhu_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,119},{25,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,33}}</string>
        <key>sourceSize</key>
        <string>{25,33}</string>
      </dict>
      <key>zhouyinzuozhu_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,119},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>zhouyinzuozhu_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,119},{20,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,24}}</string>
        <key>sourceSize</key>
        <string>{20,24}</string>
      </dict>
      <key>zhouyinzuozhu_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,119},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>zhouyinzuozhu_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,119},{19,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,21}}</string>
        <key>sourceSize</key>
        <string>{19,21}</string>
      </dict>
      <key>zhouyinzuozhu_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,119},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>zhouyinzuozhu.png</string>
      <key>textureFileName</key>
      <string>zhouyinzuozhu.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>