<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>zilaiye_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{117,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,150}}</string>
        <key>sourceSize</key>
        <string>{117,150}</string>
      </dict>
      <key>zilaiye_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,0},{117,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,150}}</string>
        <key>sourceSize</key>
        <string>{117,150}</string>
      </dict>
      <key>zilaiye_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,152},{20,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,32}}</string>
        <key>sourceSize</key>
        <string>{20,32}</string>
      </dict>
      <key>zilaiye_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,152},{22,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,24}}</string>
        <key>sourceSize</key>
        <string>{22,24}</string>
      </dict>
      <key>zilaiye_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,152},{47,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,47}}</string>
        <key>sourceSize</key>
        <string>{47,47}</string>
      </dict>
      <key>zilaiye_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,152},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>zilaiye_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,152},{21,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,25}}</string>
        <key>sourceSize</key>
        <string>{21,25}</string>
      </dict>
      <key>zilaiye_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,152},{22,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,26}}</string>
        <key>sourceSize</key>
        <string>{22,26}</string>
      </dict>
      <key>zilaiye_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,152},{17,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,27}}</string>
        <key>sourceSize</key>
        <string>{17,27}</string>
      </dict>
      <key>zilaiye_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,152},{20,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,22}}</string>
        <key>sourceSize</key>
        <string>{20,22}</string>
      </dict>
      <key>zilaiye_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,152},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>zilaiye.png</string>
      <key>textureFileName</key>
      <string>zilaiye.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>