<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>zuojing_s-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{98,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,106}}</string>
        <key>sourceSize</key>
        <string>{98,106}</string>
      </dict>
      <key>zuojing_s-head_hurt.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{98,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,107}}</string>
        <key>sourceSize</key>
        <string>{98,107}</string>
      </dict>
      <key>zuojing_s-rightHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,52},{21,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,32}}</string>
        <key>sourceSize</key>
        <string>{21,32}</string>
      </dict>
      <key>zuojing_s-rightArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,108},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>zuojing_s-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{37,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,50}}</string>
        <key>sourceSize</key>
        <string>{37,50}</string>
      </dict>
      <key>zuojing_s-leftHand.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,52},{21,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,31}}</string>
        <key>sourceSize</key>
        <string>{21,31}</string>
      </dict>
      <key>zuojing_s-leftArm.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,108},{17,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,24}}</string>
        <key>sourceSize</key>
        <string>{17,24}</string>
      </dict>
      <key>zuojing_s-rightLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,108},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>zuojing_s-rightFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,85},{18,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,26}}</string>
        <key>sourceSize</key>
        <string>{18,26}</string>
      </dict>
      <key>zuojing_s-leftLeg.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,108},{17,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,20}}</string>
        <key>sourceSize</key>
        <string>{17,20}</string>
      </dict>
      <key>zuojing_s-leftFoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,86},{18,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,26}}</string>
        <key>sourceSize</key>
        <string>{18,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>zuojing.png</string>
      <key>textureFileName</key>
      <string>zuojing.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>