<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>baiyan0/effect_hsxly_004.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_hsxly_001.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_hsxly_002.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_hsxly_003.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>606</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_hsxly_005.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>808</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_hsxly_006.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_hsxly_007.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_hsxly_008.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_fbxly_003.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>606</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_fbxly_004.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>808</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_fbxly_005.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_fbxly_006.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_fbxly_007.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_yuedu_004.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>606</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_yuedu_005.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>808</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_yuedu_006.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>303</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_yuedu_007.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>303</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_yuedu_008.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>303</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_tianzhao_004.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>606</integer>
				<key>y</key>
				<integer>303</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_tianzhao_005.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>808</integer>
				<key>y</key>
				<integer>303</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_tianzhao_006.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_tianzhao_007.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_tianzhao_008.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_baiyan_004.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>606</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_baiyan_005.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_baiyan_006.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>258</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>277</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_baiyan_007.png</key>
			<dict>
				<key>width</key>
				<integer>296</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>296</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>537</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_baiyan_008.png</key>
			<dict>
				<key>width</key>
				<integer>296</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>296</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>589</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_baiyan_002.png</key>
			<dict>
				<key>width</key>
				<integer>404</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>404</integer>
				<key>originalHeight</key>
				<integer>131</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>589</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_baiyan_001.png</key>
			<dict>
				<key>width</key>
				<integer>404</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>404</integer>
				<key>originalHeight</key>
				<integer>131</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>722</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiyan0/effect_baiyan_bg.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>115</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>406</integer>
				<key>y</key>
				<integer>722</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>baiyan0.png</string>
			<key>realTextureFileName</key>
			<string>baiyan0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>